<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <h1>Detail Comment</h1>
    <h4>ID user: <%= comment.id %></h4>
    <p><%= comment.comment %> - <b><%= comment.username %></b></p>
    <a href="/comments">Back to Index</a>
    <br />
    <a href="/comments/<%= comment.id %>/edit">Edit Comment</a>
    <hr />
    <form action="/comments/<%= comment.id %>?_method=DELETE" method="post">
      <button>Delete comment</button>
    </form>
  </body>
</html>
